:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .router-link {
        display: block;
        text-decoration: none;
        margin-top: 20px;
        font-weight: 700;
        text-align: center;
      }

      .router-link-active  {
        background-color: hsl(0, 0%, 0%);
        color: rgb(255, 255, 255);
        transition: 0.4s;
        border-radius: 0.25rem;
        cursor: pointer;
      }

}